@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<style>
    .lefter{
        
        height:auto;
        width:15%;
        position:absolute;
        left:30px;
        top:200px;
    }
    .righter{
        height: auto;
        width: 85%;
        position: relative;
        right: -230px;
        
    }
</style>
<!-- Include only the reset -->

<script src="https://cdn.jsdelivr.net/npm/@@searchkit/instantsearch-client@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@@4"></script>
<script src="https://cdn.jsdelivr.net/npm/searchkit@@latest"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@@7/themes/algolia-min.css" />
<div class="ais-InstantSearch">

    <div class="lefter">
        <h2>Department</h2>
        <div id="categories-list"></div>
        <div id="new"></div>
    </div>
    <div class="righter">
        <div id="searchbox" class="ais-SearchBox"></div>
        <div id="hits"></div>
    </div>
    <div id="pagination"></div>

</div>

<script type="text/javascript">
    /* global instantsearch algoliasearch */

    const sk = new Searchkit({
        connection: {
            host: "https://my-deployment-bd707b.es.us-central1.gcp.cloud.es.io",
            // if you are authenticating with username/password
            // https://www.searchkit.co/docs/guides/setup-elasticsearch#connecting-with-usernamepassword
            auth: {
              username: "elastic",
                password: "FUTpHUkZKc467OjMr4AU1jba"
            },
            // if you are authenticating with api key
            // https://www.searchkit.co/docs/guides/setup-elasticsearch#connecting-with-api-key
            // apiKey: "######"
        },
        search_settings: {
            highlight_attributes: ["name","role","email"],
            
            search_attributes: [{ field: "name", weight: 3 }, "phone", "emailId"],
            result_attributes: ["name", "role", "emailId","eid","id"],
            facet_attributes: [{
                field: "name.keyword",
                type: "string",
                attribute: "name",
            }, {
                field: "role.keyword",
                type: "string",
                attribute: "id",
            }],
           
        }
    })

    const search = instantsearch({
        indexName: "company",
        searchClient: SearchkitInstantsearchClient(sk)
    });

    search.addWidgets([
        instantsearch.widgets.searchBox({
            container: "#searchbox"
        }),
        instantsearch.widgets.refinementList({
            container: "#categories-list",
            attribute: "id",
            
        }),
        instantsearch.widgets.hits({
            container: "#hits",
            cssClasses: {
                item: '',
            },
            templates: {
                item: `
                <span style="display:block;"> {{{eid}}}</span>
                    <span style="display:block;"> {{{name}}}</span>
                    <span style="display:block;"> {{{role}}}</span>
                    <span style="display:block;"> {{{emailId}}}</span>
                     <span style="display:block;">   
                        <a href="/admin/editemployee?id={{{id}}}" class="btn btn-sm btn-outline-warning me-2" style="color: #FF9201; border-color: #FF9201;">View</a>
                        <a href="/admin/deleteemployeebyid?eid={{{eid}}}" class="btn btn-sm btn-danger" style="background-color: #FF9201; border-color: #FF9201;">Delete</a>
                     </span>
            
          `}
        }),
        instantsearch.widgets.pagination({
            container: "#pagination"
        })
    ]);

    search.start();
</script>

