@{
}  
<div class="w-auto p-3  " style="height: 70px; background-color: #151566">
    <div class="d-inline p-2 ">
        <img src="~/mdb5-free-standard/img/ceilogo.png" width="50px" />
    </div>
    <div class="d-inline p-2  text-white" style="margin-left:190px; font-size:larger">
        Employee Portal
    </div>     <div class="d-inline">
        <img src="~/mdb5-free-standard/img/ceilogo.png"  style="width:40px; height:40px; margin-left:200px" />
    </div>
</div>
<div class="w-auto p-3" style="height: 30px; margin-top:10px; background-color: #ff8e00">
</div>
<br />
<div class="mx-auto" style="margin:150px; text-align:center">
    <h1>WELCOME!!</h1>
    <i class="far fa-user"></i>
</div>

