@{
    ViewData["Title"] = "Home Page";
    string Email = ViewBag.Email;
    string Otp = ViewBag.Otp;
}

<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body class="button">
    <br />
    <br />
    <br />

    <div class="container ">
        <div class="row ">
            <div class="col-md-6 mx-auto ">
                <div class="card border border-warning border-4 " style="border-radius:50px; height:40rem;">
                    <div class="card-body ">
                        <div class="rounded-circle d-flex justify-content-center align-items-center">
                            <img src="~/mdb5-free-standard/img/ceilogo.png" class="img-fluid " style="   
     outline: 3px solid gold;
border-radius:50%;
" alt="Logo" />
                            <br /><br /><br />
                           
                        </div>
                        <br />
                        <!--username-->

                        <div class="d-flex p-2 text-black mx-5 font-weight-bold" style="flex-direction:column;align-items:center;justify-content:center;">
                            <div>
                                <b class="">Username</b>

                                <input type="text" id="email" name="email" class="form-control rounded-7 w-50  d-inline p-2 border-warning" />@@ceiamerica.com
                                <span class="text-center"><div id="email-error" class="text-danger "></div></span>
                                <br />
                                <div id="email-error" class="text-danger"></div>
                            </div>
                           
                            <div style>
                                <button type="button" id="load-index" class="rounded-7 button  text-white btn-outline-warning" data-mdb-toggle="collapse" data-mdb-target="#extra-portion" aria-controls="collapse" aria-expanded="false">  Send OTP </button>
                                <span id="timerDisplay" class="mx-3"></span>
                            </div>
                            <br />
                        </div>


                        <!--OTP-->
                        <form method="post" action="/home/LoginAuth" onsubmit="return VerifyOtp(event)">
                            <div >
                                <!--<div class="collapse" id="extra-portion">-->
                                <div id="my-div" class="d-none d-flex p-2 text-black mx-5 font-weight-bold" style="flex-direction:column;align-items:center;justify-content:center; position:relative;
left:-20px;">
                                    <b>OTP</b>
                                    <input type="text" id="userotp" name="userotp" class="form-control rounded-7 w-50 mx-5 d-inline p-2 border-warning" />
                                    <!-- <input type="text" id="userotp" name="userotp" class="form-control rounded-pill w-50 mx-5 d-inline p-2 border-warning">-->
                                    <span class="text-center"><div id="otp-error" class="text-danger "></div></span>
                                    <br />

                                    <div style="margin-left:0px">
                                        <button type="submit" id="sendOTP" class="cei-color rounded-7 button  text-white btn-outline-warning" data-mdb-target="#extra-portion" aria-controls="collapse" aria-expanded="false">  Login </button>
                                    </div>
                                    <br /><br />
                                    <!--</div>-->
                                </div>


                                <div class="d-none">
                                    <input type="text" id="email2" name="email2" value="@Email" />
                                    <input type="text" id="otp" name="otp" value="@Otp" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
<script>
    function VerifyOtp(event){
        var otp=document.getElementById("otp");

        var otpval=otp.value;
        var userotp=document.getElementById("userotp");
        var userotpval = userotp.value;

        var email = document.getElementById("email2");
        var emailval = email.value;
      //alert(otpval+userotpval);

        if (otpval != userotpval || userotpval=="") {
            const otpError = document.getElementById("otp-error");
            otpError.innerText = "Please enter valid OTP !";
            event.preventDefault();
            // Prevent the form from submitting
            return false;
        }

        return true;

    }
</script>
<script>
    /* function myFunction() {

         // Do something here
         var modifiedContent = decodeURIComponent(document.cookie.replace(/(?:(?:^|.*;\s*)modified_content\s*\=\s*([^;]*).*$)|^.*$/, "$1"));
         if(modifiedContent=="error"){
         // Use the stored value to restore the modified content
         document.getElementById("email-error").innerHTML = "Please enter valid Email";
             document.cookie = "modified_content=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
         }
     }
     window.addEventListener("load", myFunction);*/

</script>
<script>

    $(function() {
      $('#load-index').click(function() {
              const emailError = document.getElementById("email-error");
              const divToShow = document.getElementById("my-div");
              var email = document.getElementById("email").value;
              const sendotpbtn = document.getElementById("load-index");
              console.log(email);
              if (email == "") {
                  var cookie="error";
                  //document.cookie = "modified_content=" + encodeURIComponent(cookie);
                divToShow.classList.add("d-none");



                  // Reload the page
                 //location.reload();
                  emailError.innerText = "Enter Username";
                  // Retrieve the stored value after the page has reloaded


              } else {
                 
                var inputValue = $('#email').val(); // Get the value of the input field
                $.ajax({
                    url: '/home/Emailcheck',
                    type: 'post',
                    data: { email: inputValue },
                    success: function (response) {
                        console.log("if1");
                        console.log(response+"hi");
                        if (response==true) {
                            console.log("This is if");
                            divToShow.classList.remove("d-none");
                            emailError.innerText = "";
                            let duration = 5; // in seconds 
                            startTimer(duration);
                            function startTimer(duration) {
                                let timer = duration; const intervalId = setInterval(function () {
                                    const seconds = parseInt(timer % 60, 10);
                                    timerDisplay.textContent = seconds < 10 ? "0" + seconds : "";
                                    if (timer === duration) {
                                        sendotpbtn.style.backgroundColor = "gray";

                                        $('#load-index').prop('disabled', true);// Change to your desired color
                                    }
                                    if (--timer < 0) {
                                        clearInterval(intervalId);

                                        timerDisplay.textContent = "";
                                        sendotpbtn.innerHTML = "Resend OTP";
                                        sendotpbtn.style.backgroundColor = "";
                                        $('#load-index').prop('disabled', false);
                                    }
                                }, 1000);
                            }

                            $.ajax({
                                url: '/',
                                type: 'post',
                                data: { email: inputValue },
                                success: function (response) {
                                    console.log("Done sending mail");
                                    var resultArray = response.split(",")
                                    var str1 = resultArray[0];
                                    var str2 = resultArray[1];
                                    $('#otp').val(str1);
                                    $('#email2').val(str2);
                                    setTimeout(function () {
                                        $('#otp').val("");
                                        // Insert your code here to be executed after 1 minute
                                    }, 600000);
                                }
                            });
                        }
                        else {
                            console.log("This is else");
                            divToShow.classList.add("d-none");

                            // Email doesn't exist, show error message
                            $('#email-error').show();
                            emailError.innerText = "Invalid Username";
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // handle AJAX error here
                    console.log(textStatus + ': ' + errorThrown);
                });

              }
           
   /*     $.ajax({
          url: '/view',
                  type: 'post',
                  data: { email: inputValue },
          success: function(response) {
                      var resultArray = response.split(",")
                       var str1 = resultArray[0];
          var str2 = resultArray[1];
                      $('#otp').val(str1);
                      $('#email2').val(str2);
                      setTimeout(function () {
                          $('#otp').val("");
                          // Insert your code here to be executed after 1 minute
                      }, 600000);

            // Do something with the response data
          }
        });*/
      });
    });
</script>