
@{
    ViewData["Title"] = "profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-3 mb-3 position-relative" style="top:220px;height: 219px;left:80px;">
           <div class="shadow-6-strong rounded-9 h-100 bg-white border border-1 border-secondary" style="box-sizing: border-box;"> 
                <img height="220px" src="https://i.guim.co.uk/img/media/566d3c1ea3a6240ff30937547bc47f9b4f78ca35/43_64_5131_6413/master/5131.jpg?width=700&quality=85&auto=format&fit=max&s=3c2b2e634b31c02c6cfc1f0f1ce60289" class="  position-absolute  start-50 translate-middle " style=" position: absolute;border-radius: 40px;width: 228px;height: 204px;object-fit: cover;box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.30);">
                

                <div class="position-absolute  start-0 ms-4 mt-5 mx-5 w-100 h-50 d-flex align-items-center text-muted" style="top:10px;font-size: 10px; font-weight: 200; color: rgba(0,0,0,0.5);">
                    Upload a image. Larger image will be resized automatically.
                </div>

                <div class="position-absolute  start-50 translate-middle-x" style="top:130px;">
                    <h3 class="text-center text-grey" style="background: linear-gradient(180deg, #000 37.5%, red 56.25%, #000);-webkit-background-clip: text;  -webkit-text-fill-color: transparent;text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);">Jack grey</h3>
                 </div>
                <div class="btn-primary position-absolute " style="right:90px;top:100px;border:1px solid rgba(0,0,0,0.25);border-radius:50%">
                    <button class="position-absolute bg-white btn-primary  rounded-circle " style="bottom:0px; border:0px solid rgb(0,0,0)">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/006/998/431/small/photo-camera-icons-photo-camera-icon-design-illustration-photo-camera-simple-sign-photo-camera-image-vector.jpg" style="width: 40px; height: 40px;border-radius:50%;">
                    </button>
                </div>
            </div>
            <p class=" text-center " style="position: absolute; top: 160px; left: 0; width: 100%; font-size: var(--font-size-lg); color: rgba(0, 0, 0, 0.59); display: inline-block;">Software developer</p>

        </div>
        <div class="col-lg-8 col-md-12 col-lg-1 mb-1 position-relative" style="height: 43.3125rem; top:10px; left:5rem;">
            <div class="shadow-6-strong rounded-9 h-100 bg-white border border-1 " style="box-sizing: border-box;border:1px solid rgba(0,0,0,.25)">
                <!-- your content here -->
                <div class="position-relative bg-warning border border-1 w-100" style="height: 9.125rem;border:1px solid rgb(0,0,0,0.65)">
                  <button class="position-absolute top-0 start-0 fs-5 fw-bold text-dark">User Info</button>
                </div>

            </div>
        </div>
    </div>
</div>